#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  margin-top: -20px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.contain {
  padding: 0px 20px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 0px 15px;
}

.sidebar-nav-bottom{
  position: absolute;
  top: 300px;
  left: -20px;
  list-style-type: none;
}

.breadcrumb {
  margin-top: 20px;
}

.panel-default > .panel-heading {
border-color: none;
padding: 1.5em .75em;
background-color: #4C4D50;
color: white;
font-size: 1.5em;
position: relative;
min-height: 86px;
}

.panel-heading h1{
  font-size: 1em;
  padding: 0;
  margin: 0 0 10px 0;
}

.panel-heading .btn {
  margin-top: -5px;
  position: absolute;
  right: 20px;
}

.sov-table tr:first-child {
  background-color: #f5f5f5;
}

.sov-table td{
  border-right: 1px solid lightgrey;
  vertical-align: middle !important;
  text-align: center;
}

.sov-table td:last-child{
  border-right: none;
  text-align: center;
}

.sov-table td:first-child{
  text-align: center;
  color: lightgrey;
  vertical-align: middle;
}

.sov-table input {
  width: 100%;
}

.sov-table .description input, .sov-table .description p {
  width: 49%;
}

.sov-table input:last-child {
  float: right;
}

.sov-table .dropdown-menu {
  left: initial;
  right: 0;
}

#subtotal {
  color: grey;
  border-top: 1px solid lightgrey;
  background-color: #f5f5f5;
  text-align: right;
}

#submit {
  text-align: right;
}
/** Responsive
 ---------------------------------------------------------*/

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}