    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">SubConnect</a>
                </li>
                <li><a href="#">My Projects</a>
                </li>
                <li><a href="#">Current Project</a>
                </li>
                <li><a href="#">My Account</a>
                </li>
                <li><a href="#">John D. Storey</a>
                </li>
                <li><a href="#">Log Out</a>
                </li>
            </ul>
            <ul class='sidebar-nav-bottom'>
                <li><a href="#">Suggest Feature</a>
                </li>
                <li><a href="#">Knowledge Base</a>
                </li>
                <li><a href="#">Hints and Help</a>
                </li>
            </ul>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <ol class="breadcrumb">
              <li><a href="#">Projects</a></li>
              <li><a href="#">John D. Code Challenge</a></li>
              <li class="active">Schedule of Values</li>
            </ol>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                  <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                    	<h1 class='col-xs-10'>Winning Sub Contract Amount<h1>
                    	<button type="button" class="btn btn-success">$1,000.00</button>
                    </div>
                    <!-- Table -->
                    <form ng-submit='subCreate(categoryFromView, subCategoryFromView, amountFromView)' ng-controller='MainCtrl' id='subCreateForm'>
                    <table class='table sov-table' ui:sortable>
                        <thead>
                        	<tr>
                        	  <td></td>
    						  <td>Description</td>
    						  <td>Contract Amount</td> 
    						  <td>Accepted</td>
    						  <td>Comment</td>
    						  <td></td>
    						</tr>
                        </thead>
<!-- NG-REPEAT ROWS -->
                        <tbody>
                            <tr ng-repeat='sub in subs'>
                              <td><i class="fa fa-bars"></i></td>
                              <td class='description'>
                                <input ng-model='sub.category'></input>
                                <input ng-model='sub.subcategory'></input>
                              </td>
                              <td>
                                <input ng-model='sub.amount'></input>
                              </td> 
                              <td>-</td>
                              <td>-</td>
                              <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                      <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Comment History</a></li>
                                      <li><a ng-click='subCreate()'>Add Row</a></li>
                                      <li><a ng-click='subDelete(sub)'>Delete Row</a></li>
                                    </ul>
                                </div>
                                </td>
                            </tr>
    <!-- INPUT ROW -->
    						<tr>
                    		  <td><i class="fa fa-bars"></i></td>
    						  <td class='description'>
                                <input placeholder='Category' name='categoryFromView' ng-model='categoryFromView'></input>
                                <input placeholder='Subcategory' ng-model='subCategoryFromView'></input>
                              </td>
    						  <td>
                                <input placeholder='Amount' ng-model='amountFromView'></input>
                              </td> 
    						  <td>-</td>
    						  <td>-</td>
    						  <td>
    						  	<div class="btn-group">
    							  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    							      <i class="fa fa-cog"></i>
    							    </button>
    							    <ul class="dropdown-menu">
    							      <li><a href="#">Comment History</a></li>
    							      <li><a href="#">Add Row</a></li>
    							      <li><a href="#">Delete Row</a></li>
    							    </ul>
    						  	</div>
    							</td>
    						</tr>
                        </tbody>
						<tr>
							<td id='subtotal' colspan="6">Schedule of Values Subtotal <span>${{subs|orderByPriority | sumByKey:'amount'}}</span> | ${{ 1000 - (subs|orderByPriority | sumByKey:'amount')}} from balancing
							</td>
						</tr>
						<tr>
							<td id='submit' colspan="6">
                                <button type="submit" class="btn btn-primary">Submit</button>
							</td>
						</tr>
                      </table>
                    </form>
                  </div>
                </div>
            </div>
        </div>
            <a href="http://jsfiddle.net/SSSUUUSSS/Bsusr/1/">test for sortable array</a> of
            <table style="width:auto;" class="table table-bordered">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody ui:sortable ng:model="list">
                <tr ng-repeat="item in list" class="item" style="cursor: move;">
                    <td>{{$index}}</td>
                    <td>{{item}}</td>
                </tr>
            </tbody>{{list}}
            </table>
    </div>
